@import 'shared';

// region CELLS

.cell-2 {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding: $spaceL;

  @media screen and (max-width: $pageM) {
    display: block;
    width: 100%;
    padding: $spaceXS;
  }
}

.cell-3 {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  vertical-align: middle;
  padding: $spaceL;

  @media screen and (max-width: $pageM) {
    display: block;
    width: 100%;
    padding: $spaceXS;
  }
}

h1 {
  font-family: $fontCursive;
  font-size: $textXL;
  padding: $spaceL 0 $spaceL 0;
  text-align: center;
  border-top: $spaceXS solid $gray_light;
  border-bottom: $spaceXS solid $gray_light;
  text-shadow: 2px 2px 2px $gray_light;

  @media screen and (min-width: $pageS) {
    font-style: normal;
    font-size: $text3XL;
    padding: $spaceXL 0 $spaceXL 0;
  }
}

p {
  font-family: $fontSerif;
  font-size: $textL;
  line-height: $textL + 0.5;
  padding: $spaceM;
}

// endregion

// region TAVERN

.frame {
  padding: $spaceM;
  background-color: $white;
  display: inline-block;
  border-radius: 0.33rem;
  box-shadow: 0.1rem 0.2rem 0.6rem $shadow;
  text-align: center;

  img {
    width: 100%;
  }

  h1 {
    padding-top: $spaceL;
  }
}

.page-tavern {
  background-color: change_color($white, $alpha: 0.75);
  padding-bottom: $spaceL;

  h1 {
    background-color: $white;
    color: $gray;
  }

  .photo {
    text-align: right;

    .frame {
      max-width: 60rem;
    }
  }

  .description p {
    max-width: 50rem;
    text-align: left;
  }
}

// endregion

// region BAR

.page-bar {
  border-bottom: $spaceXS solid $shadow;

  h1 {
    background-color: $gray;
    border-color: $shadow;
    color: $white;
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow;
  }

  .bar-pics {
    height: 60rem;
    background-color: $shadow;

    .cell-3 {
      padding: 0;
    }
  }

  .page-bar-left {
    display: none;
  }

  .page-bar-center {
    background: url('../images/bg-bar1.jpg') center no-repeat;
    border-left: $spaceXS solid $shadow;
    border-right: $spaceXS solid $shadow;
  }

  .page-bar-right {
    display: none;
  }

  @media screen and (min-width: $pageM) {
    .page-bar-left {
      background: url('../images/bg-bar4.jpg') center no-repeat;
      display: inline-block;
    }

    .page-bar-right {
      background: url('../images/bg-bar3.jpg') center no-repeat;
      display: inline-block;
    }
  }
}

// endregion

// region BAR

.page-deck {
  border-bottom: $spaceXS solid $gray_light;

  h1 {
    background-color: $white;
    border-color: $gray_light;
    color: $gray;
    text-shadow: 0.1rem 0.1rem 0.1rem $gray_light;
  }

  .deck-pics {
    height: 60rem;
    background-color: $gray_light;

    .cell-3 {
      padding: 0;
    }
  }

  .page-deck-left {
    display: none;
  }

  .page-deck-center {
    background: url('../images/bg-deck3.jpg') center no-repeat;
    border-left: $spaceXS solid $gray_light;
    border-right: $spaceXS solid $gray_light;
  }

  .page-deck-right {
    display: none;
  }

  @media screen and (min-width: $pageM) {
    .page-deck-left {
      background: url('../images/bg-deck2.jpg') center no-repeat;
      display: inline-block;
    }

    .page-deck-right {
      background: url('../images/bg-deck1.jpg') center no-repeat;
      display: inline-block;
    }
  }
}

// endregion

// region WINE LOFT

.bg-loft {
  @extend %bg;
  @media screen and (max-width: $pageM) {
    background-image: url('../images/bg-loft-570.jpg');
  }
  @media screen and (min-width: $pageM) {
    @include bg(url('../images/bg-loft.jpg'), 0.2, 0.3);
  }
}

.page-loft {
  height: 125vh;
  padding: $spaceXL;
  position: relative;

  h1 {
    position: relative;
    top: 33vh;
    border: none;
    color: $white;
    text-shadow: 0.2rem 0.2rem 1rem $shadow;

    @media screen and (min-width: $pageM) {
      font-size: $text6XL;
    }
  }
}

// endregion

// region MENU

.menu {
  position: relative;
  background-color: $white;

  @media screen and (min-width: $pageM) {
    padding-bottom: $spaceXL;
    background: $white url('../images/bg-menu.png');
  }

  h1 {
    border-color: $gray_light;
  }

  .menu-nav {
    text-align: center;
    margin: 0 auto;

    a {
      display: block;
      border-bottom: 0.1rem solid $white_hover;
      padding: $spaceM;

      font-size: $textL;
      font-family: $fontSerif;
      color: $gray_hover;
      background-color: $off-white;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @media screen and (min-width: $pageS) {
        display: inline-block;
        padding: $spaceL;
        margin: 0 $spaceM $spaceL $spaceM;
        min-width: 15rem;
        border: 0.1rem solid $white_hover;
      }
    }

    a:hover, a.selected {
      color: $gray;
      background-color: $white_hover;

      @media screen and (min-width: $pageS) {
        border: 0.1rem solid $off-white;
      }
    }

    @media screen and (min-width: $pageS) {
      padding: $spaceM;
      padding-top: $spaceL;
      max-width: $pageM*2;
    }
  }

  .menu-content {
    text-align: center;
    background-color: $off-white;
    padding: $spaceL;
    padding-top: 0;
    max-width: $pageM;
    margin: 0 auto;
    border-top: 0.5rem solid $gray_light;

    @media screen and (min-width: $pageM) {
      border: 0.5rem solid $white_hover;
    }

    div {
      display: none;
    }

    div.selected {
      display: block;
    }

    em {
      color: $gray_hover;
    }

    //menu section title
    h1 {
      font-family: $fontSansSerif;
      font-size: $textXL;
      font-style: normal;
      letter-spacing: 0.2rem;
      margin: 0;
      padding-top: $spaceXL;
      padding-bottom: $spaceL;
      border: none;
      background: none;
      text-transform: uppercase;
    }

    //entry title
    h2 {
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-family: $fontSansSerif;
      margin-top: $spaceL;
      padding-right: $spaceS;
      line-height: 1.5rem + 0.2rem;

      @media screen and (min-width: $pageM) {
        @include border-highlight($white);
      }

      //entry price
      em {
        font-weight: normal;

        @media screen and (min-width: $pageS) {
          float: right;
        }
      }
    }

    //misc description, "add the following:"
    h3 {
      text-align: left;
      font-size: $textM + 0.5rem;
      font-style: italic;
      color: $gray;
      padding-top: $spaceXS;

      @media screen and (min-width: $pageM) {
        @include border-highlight($white);
      }

    }

    // subsection title
    h4 {
      font-family: $fontSansSerif;
      font-size: $textL;
      margin-top: $spaceL;
      margin-bottom: $spaceL;
      text-transform: uppercase;
    }

    //entry description
    p {
      padding: $spaceXS 0;
      font-size: $textM + 0.5rem;
      line-height: $textL;
      text-align: left;
      color: $gray;

      @media screen and (min-width: $pageM) {
        @include border-highlight($white);
      }
    }

    // subtitle list
    ul {
      display: inline-block;
      font-size: 1.5rem;
      text-align: left;
      margin: 0 auto $spaceXS auto;
      border: 0.1rem dashed $gray;
      padding: $spaceXS;
      width: auto;

      li {
        padding: $spaceXS;

        em {
          font-family: $fontSansSerif;

          @media screen and (min-width: $pageM) {
            float: right;
            padding-left: $spaceL;
          }
        }
      }
    }

    // entry list of additions
    h3 + ul {
      display: block;
      font-size: $textM + 0.5rem;
      text-align: left;
      margin: 0;
      border: none;
      color: $gray;

      @media screen and (min-width: $pageM) {
        width: 50%;
        @include border-highlight($white, $spaceL);
      }

      li {
        padding: 0;
      }
    }
  }
}

// endregion

// region DIRECTIONS

.page-directions {
  background-color: $gray;
  text-align: center;

  h1 {
    color: $white;
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow;
    border-color: $shadow;
    background-color: $gray;
  }

  .directions {

    @media screen and (min-width: $pageM) {
      padding-top: $spaceL;
      padding-bottom: $spaceL;
    }

    .gmap {
      text-align: right;
      vertical-align: top;
    }

    .directions-address {
      text-align: center;
      vertical-align: top;
      color: $gray_light;

      @media screen and (min-width: $pageM) {
        text-align: left;
      }
    }

    .cell-2 {
      @media screen and (max-width: $pageS) {
        margin: 0;
      }
    }

    h2 {
      font-family: $fontBrand;
      font-weight: bold;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: $textXL;
      margin-left: $spaceXS;
      margin-top: $spaceL;

      @media screen and (min-width: $pageM) {
        margin-top: 0;
        font-size: $text2XL;
      }
    }

    h3 {
      font-family: $fontCursive;
      color: $white;
      margin-top: $spaceL;
      margin-left: $spaceXS;
      font-size: $textL;

      @media screen and (min-width: $pageM) {
        font-size: $textXL;
      }
    }

    p {
      font-size: $textM + 0.2rem;
      @media screen and (min-width: $pageM) {
        font-size: $textM + 0.75rem;
      }
    }

    .frame {
      border: none;
      padding: 0;
      width:100%;
      max-width: 60rem;

      iframe {
        width: 100%;
      }

      @media screen and (min-width: $pageM) {
        background-color: $shadow;
        padding: $spaceS;
        border: 0.1rem solid $gray_hover;
      }
    }
  }
}

// endregion

// region EVENTS

.view-cap, .view-container-border {
  background-color: #FFFFFF;
}

.page-events {
  background-color: #faebd7;
  text-align: center;

  iframe {
    width: 100%;
    max-width: $pageXL;
    border: none;
    min-height: 60rem ;
    margin-top: $spaceM;
  }
}

// region FOOTER
footer {
  text-align: center;
}

.social {
  background-color: $shadow;
  padding: $spaceXL;
  border-top: 0.1rem solid $shadow;
  border-bottom: 0.1rem solid $shadow;

  a {
    margin-left: $spaceL;
    $margin-right: $spaceL;
  }
}

.copyright {
  font-family: $fontSansSerif;
  font-size: $textM + 0.2rem;
  line-height: $textM + 0.5rem;
  text-transform: uppercase;
  background-color: $gray;
  color: $gray_hover;
  padding: $spaceXL;

  @media screen and (min-width: $pageM) {
    font-size: $textM + 0.5rem;
  }

  a {
    color: $gray_hover;
    text-decoration: underline;
  }
}
// endregion