@import 'shared';

.cell-2 {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding: $spaceL;

  @media screen and (max-width: $pageM) {
    display: block;
    width: 100%;
    padding: $spaceXS;
  }
}

h1 {
  font-family: $fontCursive;
  font-size: $textXL;
  font-style: italic;

  @media screen and (min-width: $pageS) {
    font-style: normal;
    font-size: $text4XL;
  }
}

p {
  font-family: $fontSerif;
  font-size: $textL - 0.5;
  line-height: $textL;
  padding: $spaceM;
}

.frame {
  padding: $spaceM;
  background-color: $white;
  display: inline-block;
  border-radius: 0.33rem;
  box-shadow: 0.1rem 0.2rem 0.6rem $shadow;
  text-align: center;

  img {
    width: 100%;
  }

  h1 {
    padding-top: $spaceL;
  }
}

.page-tavern {
  background-color: change_color($white, $alpha: 0.75);
  border-top: $spaceXS solid $white;
  border-bottom: $spaceXS solid $white;
  padding: $spaceXL*2 $spaceM $spaceXL*2 $spaceM;

  @media screen and (max-width: $pageS) {
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    padding: $spaceM 0 $spaceL 0;
  }

  .photo {
    text-align: right;

    .frame {
      max-width: 60rem;
    }
  }

  .description p {
    max-width: 40rem;
    text-align: left;
  }
}

.bg-loft {
  @extend %bg;
  @include bg(url('../images/bg-loft-570.jpg'),
          url('../images/bg-loft.jpg'), 0.2, 0.3);
}

.page-loft {
  height: 125vh;

  h1 {
    position: relative;
    top: 33vh;
    color: $white;
    text-shadow: 0.2rem 0.2rem 1rem $shadow;

    @media screen and (min-width: $pageS) {
      font-size: $text3XL;
    }

    @media screen and (min-width: $pageM) {
      font-size: $text6XL;
    }
  }
}

#menu {
  background-color: white;
  padding: $spaceL;
  max-width: 60rem;
  margin: 0 auto;
  
  h1 {
    font-family: $fontSansSerif;
    font-size: $textXL;
    text-align: center;
    margin-top: $spaceM;
  }
  
  h2 {
    font-size: 1.5rem;
    border-bottom: 0.1rem dotted $gray;
    margin-top: $spaceL;
  }
  
  h3 {
    font-size: 1.5rem;
    color: $gray;
  }
  
  h4 {
    font-size: $textL;
    margin-top: $spaceXL;
  }
  
  p {
    padding: $spaceM 0;
    color: $gray;
  }
  
  ul {
    font-size: 1.5rem;
    margin: $spaceM auto;
    border: 0.1rem dashed $gray;
    padding: $spaceXS $spaceXS 0 $spaceXS;
    width: 50%;
    
    li {
      padding: $spaceXS;
    }
  }
  
  h3 + ul {
    margin: 0;
    border: none;
    color: $gray;
    width: 33%;
    
    li {
      padding: 0;
    }
  }
}
