$pageXS: 320px; //iPhone
$pageS: 375px; //iPhone 6
$pageM: 540px; //wide enough for the header to be single line
$pageL: $pageM + 1;
$pageXL: 1000px; //wide enough for the old tavern image to fit on half the screen
$pageXXL: 1500px; //max width for the event calendar

$logoW: 10rem;
$logoH: 7.6rem;

$spaceXS: 0.5rem;
$spaceS: 0.75rem;
$spaceM: 1rem;
$spaceL: 2rem;
$spaceXL: 3rem;

$textM: 1rem;
$textL: 2rem;
$textXL: 3rem;
$text2XL: 4rem;
$text3XL: 5rem;
$text4XL: 6rem;
$text5XL: 7rem;
$text6XL: 8rem;

$fontSansSerif: 'Dosis', 'Lucida Sans', 'Tahoma', 'Arial', sans-serif;
$fontSerif: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', serif;
$fontBrand: 'Times New Roman', serif;
$fontCursive: 'Great Vibes', 'Georgia', cursive;

$bold: 700;

$white: #faebd7;
$off-white: #fcf5eb;
$white_hover: #ffd399;
$gray: #302d29;
$gray_light: #c3baae;
$gray_hover: #807669;
$black: #272522;
$shadow: $black;

$Z_MAX: 100;

%bg {
  background-size: cover;
}

%page {
  margin: 0 auto;
  text-align: center;
}

@mixin bg($urlXL, $start: 0.1, $end: 0.6, $startAt:top, $endAt: bottom) {
  $from: rgba(0, 0, 0, $start);
  $to: rgba(0, 0, 0, $end);
  background-image: linear-gradient(to $endAt, $from, $to), $urlXL;
}

@mixin bg-vignette($urlS, $urlXL, $start: 0.1, $end: 0.6, $color: rgb(0,0,0), $shape: circle, $destination: farthest-corner) {
  background-image: $urlS;

  $from: change_color($color, $alpha: $start);
  $to: change_color($color, $alpha: $end);

  @media screen and (min-width: $pageS) {
    background: radial-gradient($shape $destination, $from 0%, $to 100%), $urlXL;
  }
}

@mixin hr($color) {
  background-image: linear-gradient(to right,
          change_color($color, $alpha: 0),
          change_color($color, $alpha: 0.75),
          change_color($color, $alpha: 0)
  );
}

@mixin border-highlight($color, $spacing: $spaceM, $width: 0.2rem) {
  padding-left: $spacing;
  border-left: $width solid $color;
}